@page "/companyform"
@using SMEAdapter.Application.DTOs
@inject NavigationManager Navigation
@inject SMEAdapter.Application.Services.ProductInfoService StateInfo
<br/>
<h3>Company Details</h3>
<MudGrid>
    <MudItem xs="12" sm="12" md="4">
        <EditForm Model="@company" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator/>
       
            <MudTextField Class="custom-font" T="string" Variant="Variant.Outlined" Label="Manufacturer Name" @bind-Value="company.ManufacturerName" For="@(() => company.ManufacturerName)" />
             
            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5">Address Info</MudText>

            <MudTextField Class="custom-font" T="string" Variant="Variant.Outlined" Label="Zip Code" @bind-Value="company.AddressInfo.ZipCode" For="@(() => company.AddressInfo.ZipCode)" />
            <MudTextField Class="custom-font" T="string" Variant="Variant.Outlined" Label="City" @bind-Value="company.AddressInfo.City" For="@(() => company.AddressInfo.City)" />
            <MudTextField Class="custom-font" T="string" Variant="Variant.Outlined" Label="Country" @bind-Value="company.AddressInfo.Country" For="@(() => company.AddressInfo.Country)" />
                
            <MudStack Row="true" Spacing="2" Class="mt-4">
                <MudButton Variant="Variant.Outlined"  ButtonType="ButtonType.Submit" Size="Size.Large" Style="font-size: 18px; font-weight: bold; font-family: 'Open Sans';">
                    Save
                </MudButton>

                <MudButton Href="/" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large" Style="font-size: 18px; font-weight: bold; font-family: 'Open Sans';">
                    Home Page
                </MudButton>
            </MudStack>

        </EditForm>
    </MudItem>
</MudGrid>
@code {
    private ProductDto company = new ProductDto();


    private void HandleValidSubmit()
    {
        StateInfo.CurrentProductDetails = company;
        Navigation.NavigateTo("/product");
    }

    private void HandleInvalidSubmit()
    {
        Console.WriteLine("Invalid submit");// Handle invalid form submission if needed
    }
}
